<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    {block name="title"}Title{/block}
    {block name="keywords"}Keywords{/block}
    {block name="description"}Description{/block}
    <meta http-equiv="Content-Type" content="text/html">
    <meta name="author" content="https://www.brandsz.cn"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {block name="pagejs"}{load href="__STATIC__/static/style/main.css,__STATIC__/static/js/jquery-3.5.1.min.js,__STATIC__/static/js/bootstrap.min.js,__STATIC__/static/js/main.js"}{/block}
</head>
<body>
{include file="../basic/header" /}
{block name="main"}{/block}
{block name="formModal"}{/block}
{include file="../basic/footer" /}
{block name="customjs"}{/block}
</body>
</html>
