                <div class="part-article-tag">
                    <span>
                        <svg class="bi align-text-top" width="18" height="18" fill="currentColor">
                            <use xlink:href="/static/icon/bootstrap-icons.svg#tags-fill"></use>
                        </svg>标签
                    </span>
                    <ul class="list-unstyled">
                        <li class="transition"><a href="#">机器视觉</a></li>
                        <li class="transition"><a href="#">机器视觉检测</a></li>
                        <li class="transition"><a href="#">机器视觉应用</a></li>
                    </ul>
                </div>
