<div class="footer">
    <div class="uk-container uk-visible@m">
        <div class="uk-grid uk-grid-small uk-flex-between">

            <div class="uk-width-auto">
                <div class="fotnav uk-flex">
                    <ul>
{volist name="channel" id="item" offset="0" length="4"}
                        <li><a href="/{$item.fullpath}">{$item.cname}</a></li>
{/volist}
                    </ul>
                    <ul>
{volist name="channel" id="item" offset="4"}
                        <li><a href="/{$item.fullpath}">{$item.cname}</a></li>
{/volist}
                    </ul>
                </div>
            </div>
            <div class="uk-width-auto">
                <div class="fottel line-height-10">
                    <span class="f36 text-green iconfont icon-dianhua2"></span>
                    <span class="f36 text-green fs100">{$Think.config.index.aftermarket}</span>
                </div>
                <div class="ml10">
                    <ul class="icon-position-left f14">
                        <li><span class="text-green iconfont icon-email"></span>{$Think.config.index.email}</li>
                        <li><span class="text-green iconfont icon-mark"></span>{$Think.config.index.address}</li>
                    </ul>
                </div>
            </div>
            <div class="uk-width-auto">
                <div class="uk-flex uk-flex-center">
                    <div class="fotqr">
                        <div class="uk-panel uk-text-center">
                            <div class="scanqrcode">
                                <img src="/static/img/qrcode.png" width="120" alt="微信二维码">
                            </div>
                            <div class="p5 f14">扫码关注</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{notempty name="link"}
        <div class="flinks f14">
            <span class="f15 fb text-white">友情链接</span>
{volist name="link" id="item"}
            <a href="{$item.url}" target="_blank" title="{$item.name}">{$item.name}</a>
{/volist}
        </div>
{/notempty}
        <div class="uk-text-meta uk-text-center uk-margin-small-bottom">
            {$Think.config.index.copyright} | <a target="_blank" rel="nofollow" href="https://beian.miit.gov.cn/">{$Think.config.index.beian}</a>
        </div>
    </div>
    <div class="uk-hidden@m">
        <div class="fottel uk-flex uk-flex-middle uk-flex-center">
            <span class="iconfont icon-dianhua2 text-green f40"></span>
            <span class="f40 text-green">{$Think.config.index.aftermarket}</span>
        </div>
        <ul class="fotcat icon-position-left f14">
            <li><span class="iconfont icon-email text-green"></span>{$Think.config.index.email}</li>
            <li><span class="iconfont icon-mark text-green"></span>{$Think.config.index.address}</li>
        </ul>
        <div class="f14 copyright uk-text-center">
            <div>{$Think.config.index.copyright}</div>
            <a href="https://beian.miit.gov.cn/" target="_blank">{$Think.config.index.beian}</a><br>
        </div>
    </div>
</div>
<div class="floaticon uk-visible@s">
    <div class="floaticonLogo uk-box-shadow-small">
        <a href="javascript:" class="qqTalk">
            <span class="iconfont icon-mqq"></span>
            <div class="f12">QQ咨询</div>
        </a>
        <div uk-drop="pos:left-top" class="uk-box-shadow-small">
            <div class="p10"><img src="/static/upload/images/2022-08-04/1640944154615582.png" width="200" alt=""></div>
        </div>
        <a href="javascript:;">
            <span class="iconfont icon-wechat"></span>
            <div class="f12">官方微信</div>
        </a>
        <div uk-drop="pos:left-top" class="uk-box-shadow-small">
            <div class="p10"><img src="/static/img/qrcode.png" width="200" alt="微信二维码"></div>
        </div>
        <a class="getPhone" href="/gbook/">
            <span class="iconfont icon-mtel"></span>
            <div class="f12">联系电话</div>
        </a>
        <a href="javascript:;" class="backToTop to-top">
            <span class="iconfont icon-arr-up"></span>
            <div class="f12">返回顶部</div>
        </a>
    </div>
</div>
<div id="modal-weixin" class="uk-flex-top my-modal-simple" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-text-center">
            <img src="/static/img/qrcode.png" width="200" alt="微信二维码">
        </div>
    </div>
</div>
