<div class="slow uk-visible@m kefuBox-Two">
    <ul>
        <li class="tidings">
            <a href="https://p.qiao.baidu.com/cps/chat?siteId=18157842&amp;userId=940206&amp;siteToken=0dbaf36995681f0e8972b220c5c7cfd4&amp;cp=https%3A%2F%2Fsz.lcs-cert.com&amp;cr=https%3A%2F%2Fsz.lcs-cert.com&amp;cw=sz"
               target="_blank">
                <em class="ico"></em>
                <b>在线咨询</b>
            </a>
        </li>
        <li class="qq">
            <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=2881353189&amp;site=qq&amp;menu=yes" target="_blank">
                <em class="ico"></em>
                <b>QQ咨询</b>
            </a>
        </li>
        <li class="weixin">
            <a>
                <em class="ico"></em>
                <b>微信咨询</b>
            </a>
            <span class="toolbar-layer img">
        <img src="/static/img/qrcode.png" class="ewm" alt="微信咨询"></span>
        </li>
        <li class="enroll">
            <a target="_blank" href="https://www.lcs-cert.com/cx.html">
                <em class="ico"></em>
                <b>证书查询</b>
            </a>
        </li>
        <li class="top">
            <a href="#top" class="cd-top">
                <em class="ico"></em>
                <b>TOP</b>
            </a>
        </li>
    </ul>
</div>
