                <!--热门标签 Start-->
                <div class="d-flex mb-3 flex-column position-relative">
                    <h4 class="part-artList-title">&nbsp;热门标签</h4>
                    <ul class="d-flex bg-light flex-wrap rounded list-unstyled part-artList-tags justify-content-between">
                        <li><a target="_blank" title="智慧社区" href="#">智慧社区</a></li>
                        <li><a target="_blank" title="人脸识别门禁" href="#">人脸识别门禁</a></li>
                        <li><a target="_blank" title="人脸识别门禁系统" href="#">人脸识别门禁系统</a></li>
                        <li><a target="_blank" title="机器视觉" href="#">机器视觉</a></li>
                        <li><a target="_blank" title="人脸识别系统" href="#">人脸识别系统</a></li>
                        <li><a target="_blank" title="智慧小区" href="#">智慧小区</a></li>
                        <li><a target="_blank" title="人工智能" href="#">人工智能</a></li>
                        <li><a target="_blank" title="AI人脸识别门禁" href="#">AI人脸识别门禁</a></li>
                        <li><a target="_blank" title="智慧办公解决方案" href="#">智慧办公解决方案</a></li>
                        <li><a target="_blank" title="智慧社区解决方案" href="#">智慧社区解决方案</a></li>
                        <li><a target="_blank" title="智慧安防系统" href="#">智慧安防系统</a></li>
                        <li><a target="_blank" title="社区O2O系统" href="#">社区O2O系统</a></li>
                        <li><a target="_blank" title="智慧社区方案" href="#">智慧社区方案</a></li>
                        <li><a target="_blank" title="物联网" href="#">物联网</a></li>
                        <li><a target="_blank" title="机器视觉技术" href="#">机器视觉技术</a></li>
                        <li><a target="_blank" title="小区智能门禁" href="#">小区智能门禁</a></li>
                        <li><a target="_blank" title="智能人脸识别系统" href="#">智能人脸识别系统</a></li>
                        <li><a target="_blank" title="人脸识别门禁价格" href="#">人脸识别门禁价格</a></li>
                    </ul>
                </div>
                <!--热门标签 End-->