  <div class="banner uk-visible@m">
    <div uk-slideshow="animation: pull; autoplay: true; min-height:540; max-height:540"
         class="uk-position-relative">
      <div class="uk-position-relative uk-visible-toggle uk-light">
        <ul class="uk-slideshow-items">
          <li>
            <div class="uk-position-cover">
              <img src="__STATIC__/img/banner_1.jpg" alt="banner_1" uk-cover>
            </div>
          </li>
          <li>
            <div class="uk-position-cover">
              <img src="__STATIC__/img/banner_2.jpg" alt="banner_2" uk-cover>
            </div>
          </li>
          <li>
            <div class="uk-position-cover">
              <img src="__STATIC__/img/banner_3.jpg" alt="banner_3" uk-cover>
            </div>
          </li>
          <li>
            <div class="uk-position-cover">
              <img src="__STATIC__/img/banner_4.jpg" alt="banner_4" uk-cover>
            </div>
          </li>
        </ul>
      </div>
      <ul class="uk-slideshow-nav uk-dotnav uk-position-bottom-center"></ul>
      <a class="uk-position-center-left" href="javascript:" uk-slidenav-previous
         uk-slideshow-item="previous"></a>
      <a class="uk-position-center-right" href="javascript:" uk-slidenav-next uk-slideshow-item="next"></a>
    </div>
  </div>
  <div class="banner uk-hidden@m">
    <div uk-slideshow="animation: pull; autoplay: true; ratio:75:50" class="uk-position-relative">
      <div class="uk-position-relative uk-visible-toggle uk-light">
        <ul class="uk-slideshow-items">
          <li>
            <div class="uk-position-cover">
              <img src="__STATIC__/img/mbanner_1.jpg" alt="mbanner_1">
            </div>
          </li>
          <li>
            <div class="uk-position-cover">
              <img src="__STATIC__/img/mbanner_2.jpg" alt="mbanner_2">
            </div>
          </li>
          <li>
            <div class="uk-position-cover">
              <img src="__STATIC__/img/mbanner_3.jpg" alt="mbanner_3">
            </div>
          </li>
          <li>
            <div class="uk-position-cover">
              <img src="__STATIC__/img/mbanner_4.jpg" alt="mbanner_4">
            </div>
          </li>
        </ul>
      </div>
      <ul class="uk-slideshow-nav uk-dotnav uk-position-bottom-center"></ul>
    </div>
  </div>
