{extend name="../base" /}
{block name="title"}<title>S80双摄像头1500万像素高拍仪</title>{/block}
{block name="keywords"}<meta name="keywords" content="高拍仪,高拍仪产品,S80高拍仪">{/block}
{block name="description"}<meta name="description" content="S80双摄像头1500万像素高拍仪是一款时尚多功能的文档扫描仪，内置1500万像素CMOS传感器，是在办公室或家庭中使用的理想设备。">{/block}
{block name="pagejs"}{__block__}{/block}
{block name="main"}
<!--栏目banner部分 Start-->
<section class="industry">
    <div class="d-flex channel container align-items-center">
        <div class="col col-md-6 mt-5 mt-md-0 text-white text-left">
            <h1 class="mb-4">S80双摄像头1500万像素高拍仪</h1>
            <p class="text-clamp-3 text-clamp-ellipsis">S80双摄像头1500万像素高拍仪是一款时尚多功能的文档扫描仪，内置1500万像素CMOS传感器，是在办公室或家庭中使用的理想设备。它可以将文档，书籍，杂志和身份证数字化，转换成为可编辑的PDF，Word，Excel等文本格式。</p>
        </div>
    </div>
</section>
<!--栏目banner部分 End-->
<!--商品详情部分 Start-->
<section>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="flex-nowrap breadcrumb">
                <li class="breadcrumb-item"><a href="/">首页</a></li>
                <li class="breadcrumb-item"><a href="/product/">产品中心</a></li>
                <li class="breadcrumb-item"><a href="/product/">办公高拍仪</a></li>
                <li class="breadcrumb-item active text-ellipsis" aria-current="page">S80双摄像头1500万像素高拍仪</li>
            </ol>
        </nav>
        <div class="row g-2 g-md-5">
            <div class="col-12 col-md-6">
                <div class="part-produce-album">
                    <div class="rounded overflow-hidden position-relative part-produce-big">
                        <img class="img-fluid part-produce-bigimg" alt="S80双摄像头1500万像素高拍仪" title="S80双摄像头1500万像素高拍仪" src="__STATIC__/images/product/1/pt-1.png"/>
                        <button class="prenext ctl-prev" type="button" data-slide="ctprev">
                            <span class="ctl-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="prenext ctl-next" type="button" data-slide="ctnext">
                            <span class="ctl-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <div class="part-produce-small">
                        <ul class="d-flex flex-row list-unstyled align-items-center">
                            <li class="border border-danger part-produce-item">
                                <img class="img-fluid" alt="S80双摄像头1500万像素高拍仪" title="S80双摄像头1500万像素高拍仪" src="__STATIC__/images/product/1/pt-1-thumb.png" data-origin="__STATIC__/images/product/1/pt-1.png"/>
                            </li>
                            <li class="border part-produce-item">
                                <img class="img-fluid" alt="S80双摄像头细节展示" title="S80双摄像头细节展示" src="__STATIC__/images/product/1/pt-2-thumb.png" data-origin="__STATIC__/images/product/1/pt-2.png"/>
                            </li>
                            <li class="border part-produce-item">
                                <img class="img-fluid" alt="S80双摄像头功能介绍" title="S80双摄像头功能介绍" src="__STATIC__/images/product/1/pt-3-thumb.png" data-origin="__STATIC__/images/product/1/pt-3.png"/>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div  class="part-produce-detail">
                    <h2>S80双摄像头1500万像素高拍仪</h2>
                    <div class="d-flex flex-wrap part-product-item-attr">
                        <span>指纹识别</span>
                        <span>1500万像素</span>
                        <span>身份证识别</span>
                    </div>
                    <p class="text-muted text-clamp-3 text-clamp-ellipsis">S80双摄像头1500万像素高拍仪是一款时尚多功能的文档扫描仪，内置1500万像素CMOS传感器，是在办公室或家庭中使用的理想设备。它可以将文档，书籍，杂志和身份证数字化，转换成为可编辑的PDF，Word，Excel等文本格式。</p>
                    <ul class="d-flex flex-row flex-wrap list-unstyled">
                        <li>
                            <img alt="1000万像素" title="1000万像素" class="img-fluid" src="__STATIC__/static/icon/10MP.png"/>
                        </li>
                        <li>
                            <img alt="支持A3尺寸" title="支持A3尺寸" class="img-fluid" src="__STATIC__/static/icon/size.png"/>
                        </li>
                        <li>
                            <img alt="TWAIN" title="TWAIN" class="img-fluid" src="__STATIC__/static/icon/TWAIN.png"/>
                        </li>
                        <li>
                            <img alt="支持USB2.0" title="支持USB2.0" class="img-fluid" src="__STATIC__/static/icon/USB2.0.png"/>
                        </li>
                    </ul>
                    <div class="d-grid gap-2 d-md-block">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#formModal">立即订购</button>
                        <button type="button" onclick="consulting()" class="btn btn-outline-danger">在线咨询</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="part-product-tabpane">
            <ul id="productTab" class="nav nav-tabs">
                <li class="nav-item">
                    <button type="button" class="nav-link active" data-bs-target="#detail">商品详情</button>
                </li>
                <li class="nav-item">
                    <button type="button" class="nav-link" data-bs-target="#parameter">商品参数</button>
                </li>
                <li class="nav-item">
                    <button type="button" class="nav-link" data-bs-target="#supports">下载支持</button>
                </li>
            </ul>
            <div class="tab-content">
                <div id="detail" class="tab-pane fade show active">
                    <div class="part-product-content">
                        <img alt="S1500A2" src="__STATIC__/images/product/1/20210621103535_59879.png"/>
                        <img alt="S1500A2" src="__STATIC__/images/product/1/20210621103551_71108.jpg"/>
                        <img alt="S1500A2" src="__STATIC__/images/product/1/20210621103705_97007.jpg"/>
                    </div>
                </div>
                <div id="parameter" class="tab-pane fade">
                    <div class="part-product-content">
                        <table class="table align-middle table-striped table-bordered">
                            <tbody>
                                <tr>
                                    <th>图像传感器</th>
                                    <td>179（1/3.2" CMOS传感器）</td>
                                </tr>
                                <tr>
                                    <th>有效像素</th>
                                    <td>1500万，最大尺寸：4416X3312 </td>
                                </tr>
                                <tr>
                                    <th>数据格式</th>
                                    <td>MJPG/YUY2</td>
                                </tr>
                                <tr>
                                    <th>接口类型</th>
                                    <td>USB2.0</td>
                                </tr>
                                <tr>
                                    <th>最大帧速</th>
                                    <td>15 pfs</td>
                                </tr>
                                <tr>
                                    <th>最大画幅</th>
                                    <td>A4/A3</td>
                                </tr>
                                <tr>
                                    <th>图像色彩</th>
                                    <td>24位</td>
                                </tr>
                                <tr>
                                    <th>图像格式</th>
                                    <td>JPG,TIF,BMP,PNG等</td>
                                </tr>
                                <tr>
                                    <th>图像控制</th>
                                    <td>亮度、增益、色彩、曝光度、锐利度</td>
                                </tr>
                                <tr>
                                    <th>视场角</th>
                                    <td>80 horizontal</td>
                                </tr>
                                <tr>
                                    <th>MIC</th>
                                    <td>选配</td>
                                </tr>
                                <tr>
                                    <th>驱动</th>
                                    <td>即插即用</td>
                                </tr>
                                <tr>
                                    <th>光源</th>
                                    <td>自然光/LED补光（触控）</td>
                                </tr>
                                <tr>
                                    <th>操作系统</th>
                                    <td>WINDOWS XP/7/8/10</td>
                                </tr>
                                <tr>
                                    <th>工作电流</th>
                                    <td><50 mA，如LED全开电流为125mA</td>
                                </tr>
                                <tr>
                                    <th>电源输入</th>
                                    <td>USB 5V供电，装配人证识别模块是需匹配12V电源</td>
                                </tr>
                                <tr>
                                    <th>存储温度</th>
                                    <td>-20C to +60C</td>
                                </tr>
                                <tr>
                                    <th>工作温度</th>
                                    <td>0C to +40C</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="supports" class="tab-pane fade">
                    <div class="part-product-content">
                        <table class="table table-hover align-middle table-bordered">
                            <thead>
                            <tr>
                                <th scope="col" class="table-primary">物料名称</th>
                                <th scope="col" class="table-primary">文件大小</th>
                                <th scope="col" class="table-primary">支持语言</th>
                                <th scope="col" class="table-primary">支持系统</th>
                                <th scope="col" class="table-primary">物料下载</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">高拍仪软件7.0</th>
                                <td>545MB</td>
                                <td>简体中文</td>
                                <td>WINDOWS</td>
                                <td>
                                    <a target="_blank" title="点击下载高拍仪软件7.0" href="https://meta.box.lenovo.com/v/link/view/cce3baede0b640909d8e99d6d7d945c0">
                                        <svg class="bi align-text-top" width="26" height="26" color="#0d6efd" fill="currentColor">
                                            <use xlink:href="/static/icon/bootstrap-icons.svg#cloud-arrow-down"></use>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">高拍仪软件（财务版）</th>
                                <td>540.6MB</td>
                                <td>简体中文</td>
                                <td>WINDOWS</td>
                                <td>
                                    <a target="_blank" title="点击下载高拍仪软件（财务版）" href="https://meta.box.lenovo.com/v/link/view/14bc57162f334f818007321cf8eb75e7">
                                        <svg class="bi align-text-top" width="26" height="26" color="#0d6efd" fill="currentColor">
                                            <use xlink:href="/static/icon/bootstrap-icons.svg#cloud-arrow-down"></use>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">高拍仪软件（书籍版）</th>
                                <td>577.8MB</td>
                                <td>简体中文</td>
                                <td>WINDOWS</td>
                                <td>
                                    <a target="_blank" title="点击下载高拍仪软件（书籍版）" href="https://meta.box.lenovo.com/v/link/view/1874a82f1db7430baa39e5a1a868fc1d">
                                        <svg class="bi align-text-top" width="26" height="26" color="#0d6efd" fill="currentColor">
                                            <use xlink:href="/static/icon/bootstrap-icons.svg#cloud-arrow-down"></use>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">高拍仪软件（教学版）</th>
                                <td>347.5MB</td>
                                <td>简体中文</td>
                                <td>WINDOWS</td>
                                <td>
                                    <a target="_blank" title="点击下载高拍仪软件（教学版）" href="https://meta.box.lenovo.com/v/link/view/242f51599338479ca08448516777b47c">
                                        <svg class="bi align-text-top" width="26" height="26" color="#0d6efd" fill="currentColor">
                                            <use xlink:href="/static/icon/bootstrap-icons.svg#cloud-arrow-down"></use>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">人脸识别、人证比对软件</th>
                                <td>151.8MB</td>
                                <td>简体中文</td>
                                <td>WINDOWS</td>
                                <td>
                                    <a target="_blank" title="点击下载人脸识别、人证比对软件" href="https://meta.box.lenovo.com/v/link/view/a9cf820863644e5788b5ca581be96b85">
                                        <svg class="bi align-text-top" width="26" height="26" color="#0d6efd" fill="currentColor">
                                            <use xlink:href="/static/icon/bootstrap-icons.svg#cloud-arrow-down"></use>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">高拍仪软件（微课制作仪版）</th>
                                <td>29.9MB</td>
                                <td>简体中文</td>
                                <td>WINDOWS</td>
                                <td>
                                    <a target="_blank" title="点击下载高拍仪软件（教学版）" href="https://meta.box.lenovo.com/v/link/view/3327b47ae19d4aa2a0d71c3aa3fc235b">
                                        <svg class="bi align-text-top" width="26" height="26" color="#0d6efd" fill="currentColor">
                                            <use xlink:href="/static/icon/bootstrap-icons.svg#cloud-arrow-down"></use>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--商品详情部分 End-->
{/block}
{block name="formModal"}{include file="../basic/formModal"}{/block}
