{extend name="../base" /}
{block name="title"}<title>{$info.title} - {$Think.config.index.sitename}</title>{/block}
{block name="keywords"}<meta name="keywords" content="{$info.keywords}">{/block}
{block name="description"}<meta name="description" content="{$info.description}">{/block}
{block name="pagejs"}{__block__}{/block}
{block name="main"}
<div class="inban maxwidth uk-visible@m" style="background-image: url(__STATIC__/img/ban_6.png);">
</div>
<div class="mban uk-position-relative uk-hidden@m">
    <img src="__STATIC__/img/ban_6.png" alt="电池检测">
</div>
{include file="../basic/crumbs" /}
<div class="uk-hidden@s subname pt15">
    <div class="uk-text-center">
        <span class="f30 text-blue">行业新闻</span>
    </div>
</div>
<div class="uk-container">
    <div class="tBody">
        <div class="uk-grid">
{include file="../basic/news_left_nav" /}
            <div class="uk-width-expand">
                <div class="newsdetail">
                    <h1 class="uk-margin-remove mb40 uk-text-center f30 text-black uk-scrollspy-inview uk-animation-slide-bottom-small" uk-scrollspy="cls: uk-animation-slide-bottom-small; repeat: false; delay:0" style="">{$info.title}</h1>
                    <div class="infos f14 uk-text-center text-gray uk-margin-small-top uk-margin-bottom">
                        发布时间：{$info.create_time}<span class="uk-margin-left">阅读数量：{$info.click}</span>
                    </div>
                    <div class="content f18 uk-text-justify uk-scrollspy-inview uk-animation-slide-bottom-small" uk-scrollspy="cls: uk-animation-slide-bottom-small; repeat: false; delay:200" style="">
                        {$info.content.content|raw}
                    </div>
                    <div class="p20"></div>
                    <div class="cother f14 uk-visible@m uk-scrollspy-inview uk-animation-slide-bottom-small" uk-scrollspy="cls: uk-animation-slide-bottom-small; repeat: false; delay:0" style="">
                        <ul class="uk-grid uk-grid-collapse uk-child-width-1-2@s">
{present name="$prenext.pre.id"}
                            <li><span class="text-blue">上一篇</span> <a href="{:url('newsDetail', ['dirname' => $prenext.pre.dirname ?? '', 'id' => $prenext.pre.id])}" title="{$prenext.pre.title}">{$prenext.pre.title}</a></li>
{else /}
                            <li><span class="text-blue">上一篇</span> <a href="javascript:">{$prenext.pre.title}</a></li>
{/present}
{present name="$prenext.next.id"}
                            <li><span class="text-blue">下一篇</span> <a href="{:url('newsDetail', ['dirname' => $prenext.next.dirname ?? '', 'id' => $prenext.next.id])}" title="{$prenext.next.title}">{$prenext.next.title}</a></li>
{else /}
                            <li><span class="text-blue">下一篇</span> <a href="javascript:">{$prenext.next.title}</a></li>
{/present}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="footer"}{/block}
