{extend name="../base" /}
{block name="title"}<title>{$info.title}{notempty name="$Request.param.current"}_第{$Request.param.current}页{/notempty}</title>{/block}
{block name="keywords"}
<meta name="keywords" content="{$info.keywords}">{/block}
{block name="description"}
<meta name="description" content="{$info.description}">{/block}
{block name="pagejs"}{__block__}{/block}
{block name="main"}
<div class="inban maxwidth uk-visible@m" style="background-image: url(/static/img/ban_6.png);">
</div>
<div class="mban uk-position-relative uk-hidden@m">
    <img src="/static/img/ban_6.png" alt="电池检测">
</div>
{include file="../basic/crumbs" /}
<div class="uk-hidden@s subname pt15">
    <div class="uk-text-center">
        <span class="f30 text-blue">行业新闻</span>
    </div>
</div>
<div class="uk-container">
    <div class="tBody">
        <div class="uk-grid">
            {include file="../basic/news_left_nav" /}
            <div class="uk-width-expand">
                <div class="newslist">
                    <ul uk-scrollspy="target: > li; cls: uk-animation-slide-left-medium; repeat: false; delay:200">
                        {volist name="list" id="item" empty="There's nothing here..."}
                        <li class="uk-scrollspy-inview uk-animation-slide-left-medium" style="">
                            <div class="uk-grid uk-position-relative">
                                <a target="_blank"
                                   href="{:url('newsDetail', ['dirname' => $item.channel.dirname ?? '', 'id' => $item.id])}"
                                   class="uk-position-cover uk-position-z-index"></a>
                                <div class="pic">
                                    <div class=" img" data-ratio="3:2">
                                        <div class="uk-flex uk-flex-middle uk-flex-center">
                                            <img src="{$item.litpic}" alt="{$item.title}">
                                        </div>
                                    </div>
                                </div>
                                <div class="con uk-width-expand">
                                    <div class="f24 text-black uk-text-truncate">{$item.title}</div>
                                    <div class="mdate f14 text-gray"><span
                                            class="iconfont icon-calendar text-blue f16"></span> {$item.create_time}
                                    </div>
                                    <div class="desc f14 max-line-2 uk-visible@m">{$item.description}</div>
                                </div>
                            </div>
                        </li>
                        {/volist}
                    </ul>
                </div>
                <!-- 分页 -->
                {$list|raw}
                <!-- 分页 -->
            </div>
        </div>
    </div>
</div>
{/block}
{block name="footer"}{/block}
