{extend name="../base" /}
{block name="title"}<title>S系统高拍仪操作视频</title>{/block}
{block name="keywords"}<meta name="keywords" content="高拍仪视频,高拍仪使用方法,高拍仪操作视频,S系统高拍仪操作视频">{/block}
{block name="description"}<meta name="description" content="S系统高拍仪操作视频">{/block}
{block name="pagejs"}{__block__}{/block}
{block name="main"}
<!--栏目banner部分 Start-->
<section class="services">
  <div class="d-flex channel container align-items-center">
    <div class="col col-md-6 mt-5 mt-md-0 text-white text-left">
      <h1 class="mb-4">S系统高拍仪操作视频</h1>
      <p class="text-clamp-3 text-clamp-ellipsis">田者高拍资讯频道囊括机器视觉、人工智能、深度学习、人脸识别技术等领域，洞察待机方能把握商机！</p>
    </div>
  </div>
</section>
<!--栏目banner部分 End-->
<!--视频播放页 Start-->
<section>
  <div class="container">
{include file="../basic/crumbs" /}
    <div class="part-services-videoPlay">
        <video width="100%" controls>
            <source type="video/mp4" src="__STATIC__/video/1/bg-video.mp4">
        </video>
    </div>
  </div>
</section>
<!--视频播放页 End-->
{/block}