{extend name="../base" /}
{block name="title"}<title>{$channelinfo.title}</title>{/block}
{block name="keywords"}<meta name="keywords" content="{$channelinfo.keywords}">{/block}
{block name="description"}<meta name="description" content="{$channelinfo.description}">{/block}
{block name="pagejs"}{__block__}{/block}
{block name="main"}
<!--栏目banner部分 Start-->
<section class="services">
    <div class="d-flex channel container align-items-center">
        <div class="col col-md-6 mt-5 mt-md-0 text-white text-left">
            <h1 class="mb-4">{$channelinfo.cname}</h1>
            <p class="text-clamp-3 text-clamp-ellipsis">{$channelinfo.description}</p>
        </div>
    </div>
</section>
<!--栏目banner部分 End-->
<!--操作说明手册 Start-->
<section>
    <div class="container">
{include file="../basic/crumbs" /}
        <div class="title">
            <h2>操作说明手册</h2>
            <p class="text-muted">INSTRUCTION</p>
        </div>
        <table id="download" class="table table-hover align-middle table-bordered">
            <thead>
            <tr>
                <th scope="col" class="table-primary">物料名称</th>
                <th scope="col" class="table-primary">文件大小</th>
                <th scope="col" class="table-primary">支持语言</th>
                <th scope="col" class="table-primary">支持系统</th>
                <th scope="col" class="table-primary">物料下载</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">高拍仪软件7.0</th>
                <td>545MB</td>
                <td>简体中文</td>
                <td>WINDOWS</td>
                <td>
                    <a target="_blank" title="点击下载高拍仪软件7.0" href="https://meta.box.lenovo.com/v/link/view/cce3baede0b640909d8e99d6d7d945c0">
                        <svg class="bi align-text-top" width="26" height="26" color="#0d6efd" fill="currentColor">
                            <use xlink:href="/static/icon/bootstrap-icons.svg#cloud-arrow-down"></use>
                        </svg>
                    </a>
                </td>
            </tr>
            <tr>
                <th scope="row">高拍仪软件（财务版）</th>
                <td>540.6MB</td>
                <td>简体中文</td>
                <td>WINDOWS</td>
                <td>
                    <a target="_blank" title="点击下载高拍仪软件（财务版）" href="https://meta.box.lenovo.com/v/link/view/14bc57162f334f818007321cf8eb75e7">
                        <svg class="bi align-text-top" width="26" height="26" color="#0d6efd" fill="currentColor">
                            <use xlink:href="/static/icon/bootstrap-icons.svg#cloud-arrow-down"></use>
                        </svg>
                    </a>
                </td>
            </tr>
            <tr>
                <th scope="row">高拍仪软件（书籍版）</th>
                <td>577.8MB</td>
                <td>简体中文</td>
                <td>WINDOWS</td>
                <td>
                    <a target="_blank" title="点击下载高拍仪软件（书籍版）" href="https://meta.box.lenovo.com/v/link/view/1874a82f1db7430baa39e5a1a868fc1d">
                        <svg class="bi align-text-top" width="26" height="26" color="#0d6efd" fill="currentColor">
                            <use xlink:href="/static/icon/bootstrap-icons.svg#cloud-arrow-down"></use>
                        </svg>
                    </a>
                </td>
            </tr>
            <tr>
                <th scope="row">高拍仪软件（教学版）</th>
                <td>347.5MB</td>
                <td>简体中文</td>
                <td>WINDOWS</td>
                <td>
                    <a target="_blank" title="点击下载高拍仪软件（教学版）" href="https://meta.box.lenovo.com/v/link/view/242f51599338479ca08448516777b47c">
                        <svg class="bi align-text-top" width="26" height="26" color="#0d6efd" fill="currentColor">
                            <use xlink:href="/static/icon/bootstrap-icons.svg#cloud-arrow-down"></use>
                        </svg>
                    </a>
                </td>
            </tr>
            <tr>
                <th scope="row">人脸识别、人证比对软件</th>
                <td>151.8MB</td>
                <td>简体中文</td>
                <td>WINDOWS</td>
                <td>
                    <a target="_blank" title="点击下载人脸识别、人证比对软件" href="https://meta.box.lenovo.com/v/link/view/a9cf820863644e5788b5ca581be96b85">
                        <svg class="bi align-text-top" width="26" height="26" color="#0d6efd" fill="currentColor">
                            <use xlink:href="/static/icon/bootstrap-icons.svg#cloud-arrow-down"></use>
                        </svg>
                    </a>
                </td>
            </tr>
            <tr>
                <th scope="row">高拍仪软件（微课制作仪版）</th>
                <td>29.9MB</td>
                <td>简体中文</td>
                <td>WINDOWS</td>
                <td>
                    <a target="_blank" title="点击下载高拍仪软件（教学版）" href="https://meta.box.lenovo.com/v/link/view/3327b47ae19d4aa2a0d71c3aa3fc235b">
                        <svg class="bi align-text-top" width="26" height="26" color="#0d6efd" fill="currentColor">
                            <use xlink:href="/static/icon/bootstrap-icons.svg#cloud-arrow-down"></use>
                        </svg>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
<!--操作说明手册 End-->
{/block}