{extend name="../base" /}
{block name="title"}<title>{$info.title} - {$Think.config.index.sitename}</title>{/block}
{block name="keywords"}
<meta name="keywords" content="{$info.keywords}">{/block}
{block name="description"}
<meta name="description" content="{$info.description}">{/block}
{block name="pagejs"}{__block__}{/block}
{block name="main"}
<div class="inban maxwidth uk-visible@m" style="background-image: url(__STATIC__/banner/2022-11-07/4fb7af501667806905.jpg);">
</div>
<div class="mban uk-position-relative uk-hidden@m">
    <img src="__STATIC__/banner/2022-11-07/0f9be4571667807276.png" alt="立讯检测股份企业简介">
</div>
{include file="../basic/crumbs" /}
<div class="uk-hidden@s subname pt15">
    <div class="uk-text-center">
        <span class="f30 text-blue">关于我们</span>
    </div>
</div>
<div class="uk-container">
    <div class="tBody">
        <div class="uk-grid">
            {include file="../basic/about_left_nav" /}
            <div class="uk-width-expand">
                    <div class="honorlist">
                            <div class="uk-child-width-1-4@m uk-child-width-1-2 uk-grid" uk-grid="" uk-lightbox="" uk-scrollspy="target: > div; cls: uk-animation-slide-bottom-medium; repeat: false; delay:100">

                                    <div class="uk-first-column uk-scrollspy-inview uk-animation-slide-bottom-medium" style="">
                                            <div class="uk-wrap uk-position-relative">
                                                    <a href="__STATIC__/upload/images/2022-08-04/1640919260468791.jpg" data-caption="CMA证书" class="uk-position-cover uk-position-z-index"></a>
                                                    <div class="ico"><img src="__STATIC__/upload/images/2022-08-04/1640919260468791.jpg" alt="CMA证书"></div>
                                                    <div class="f16 tit">CMA证书</div>
                                            </div>
                                    </div>

                                    <div class="uk-scrollspy-inview uk-animation-slide-bottom-medium" style="">
                                            <div class="uk-wrap uk-position-relative">
                                                    <a href="__STATIC__/upload/images/2022-08-04/1640919600242068.jpg" data-caption="CNAS英文证书" class="uk-position-cover uk-position-z-index"></a>
                                                    <div class="ico"><img src="__STATIC__/upload/images/2022-08-04/1640919600242068.jpg" alt="CNAS英文证书"></div>
                                                    <div class="f16 tit">CNAS英文证书</div>
                                            </div>
                                    </div>

                                    <div class="uk-scrollspy-inview uk-animation-slide-bottom-medium" style="">
                                            <div class="uk-wrap uk-position-relative">
                                                    <a href="__STATIC__/upload/images/2022-08-04/1640919630557951.jpg" data-caption="CNAS中文证书" class="uk-position-cover uk-position-z-index"></a>
                                                    <div class="ico"><img src="__STATIC__/upload/images/2022-08-04/1640919630557951.jpg" alt="CNAS中文证书"></div>
                                                    <div class="f16 tit">CNAS中文证书</div>
                                            </div>
                                    </div>

                                    <div class="uk-scrollspy-inview uk-animation-slide-bottom-medium" style="">
                                            <div class="uk-wrap uk-position-relative">
                                                    <a href="__STATIC__/upload/images/2022-08-04/1640919646765906.jpg" data-caption="CQC-委托测试实验室V-238" class="uk-position-cover uk-position-z-index"></a>
                                                    <div class="ico"><img src="__STATIC__/upload/images/2022-08-04/1640919646765906.jpg" alt="CQC-委托测试实验室V-238"></div>
                                                    <div class="f16 tit">CQC-委托测试实验室V-238</div>
                                            </div>
                                    </div>

                                    <div class="uk-grid-margin uk-first-column uk-scrollspy-inview uk-animation-slide-bottom-medium" style="">
                                            <div class="uk-wrap uk-position-relative">
                                                    <a href="__STATIC__/upload/images/2022-08-04/1640919660562623.jpg" data-caption="ITS-RTL证书-1" class="uk-position-cover uk-position-z-index"></a>
                                                    <div class="ico"><img src="__STATIC__/upload/images/2022-08-04/1640919660562623.jpg" alt="ITS-RTL证书-1"></div>
                                                    <div class="f16 tit">ITS-RTL证书-1</div>
                                            </div>
                                    </div>

                                    <div class="uk-grid-margin uk-scrollspy-inview uk-animation-slide-bottom-medium" style="">
                                            <div class="uk-wrap uk-position-relative">
                                                    <a href="__STATIC__/upload/images/2022-08-04/1640919671541415.jpg" data-caption="ITS-RTL证书-2" class="uk-position-cover uk-position-z-index"></a>
                                                    <div class="ico"><img src="__STATIC__/upload/images/2022-08-04/1640919671541415.jpg" alt="ITS-RTL证书-2"></div>
                                                    <div class="f16 tit">ITS-RTL证书-2</div>
                                            </div>
                                    </div>

                                    <div class="uk-grid-margin uk-scrollspy-inview uk-animation-slide-bottom-medium" style="">
                                            <div class="uk-wrap uk-position-relative">
                                                    <a href="__STATIC__/upload/images/2022-08-04/1640919689407092.jpg" data-caption="UL-WTDP授权证书" class="uk-position-cover uk-position-z-index"></a>
                                                    <div class="ico"><img src="__STATIC__/upload/images/2022-08-04/1640919689407092.jpg" alt="UL-WTDP授权证书"></div>
                                                    <div class="f16 tit">UL-WTDP授权证书</div>
                                            </div>
                                    </div>

                                    <div class="uk-grid-margin uk-scrollspy-inview uk-animation-slide-bottom-medium" style="">
                                            <div class="uk-wrap uk-position-relative">
                                                    <a href="__STATIC__/upload/images/2022-08-04/1640919791506164.jpg" data-caption="TUV SUD-WTL证书" class="uk-position-cover uk-position-z-index"></a>
                                                    <div class="ico"><img src="__STATIC__/upload/images/2022-08-04/1640919791506164.jpg" alt="TUV SUD-WTL证书"></div>
                                                    <div class="f16 tit">TUV SUD-WTL证书</div>
                                            </div>
                                    </div>

                                    <div class="uk-grid-margin uk-first-column uk-scrollspy-inview uk-animation-slide-bottom-medium" style="">
                                            <div class="uk-wrap uk-position-relative">
                                                    <a href="__STATIC__/upload/images/2022-08-04/1640919827119941.jpg" data-caption="最佳合作伙伴" class="uk-position-cover uk-position-z-index"></a>
                                                    <div class="ico"><img src="__STATIC__/upload/images/2022-08-04/1640919827119941.jpg" alt="最佳合作伙伴"></div>
                                                    <div class="f16 tit">最佳合作伙伴</div>
                                            </div>
                                    </div>

                                    <div class="uk-grid-margin uk-scrollspy-inview uk-animation-slide-bottom-medium" style="">
                                            <div class="uk-wrap uk-position-relative">
                                                    <a href="__STATIC__/upload/images/2022-08-04/1640919972454390.jpg" data-caption="十大卓越品质奖" class="uk-position-cover uk-position-z-index"></a>
                                                    <div class="ico"><img src="__STATIC__/upload/images/2022-08-04/1640919972454390.jpg" alt="十大卓越品质奖"></div>
                                                    <div class="f16 tit">十大卓越品质奖</div>
                                            </div>
                                    </div>

                                    <div class="uk-grid-margin uk-scrollspy-inview uk-animation-slide-bottom-medium" style="">
                                            <div class="uk-wrap uk-position-relative">
                                                    <a href="__STATIC__/upload/images/2022-08-04/1640920023790789.jpg" data-caption="电动滑板车团体起草标准" class="uk-position-cover uk-position-z-index"></a>
                                                    <div class="ico"><img src="__STATIC__/upload/images/2022-08-04/1640920023790789.jpg" alt="电动滑板车团体起草标准"></div>
                                                    <div class="f16 tit">电动滑板车团体起草标准</div>
                                            </div>
                                    </div>

                            </div>
                    </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="footer"}{/block}
