{extend name="../base" /}
{block name="title"}<title>{$channelinfo.title}</title>{/block}
{block name="keywords"}<meta name="keywords" content="{$channelinfo.keywords}">{/block}
{block name="description"}<meta name="description" content="{$channelinfo.description}">{/block}
{block name="pagejs"}{__block__}{load href="https://webapi.amap.com/loader.js"}{/block}
{block name="main"}
<!--企业介绍部分 Start-->
<section>
    <div class="container">
        <!--企业简介部分 Start-->
        <div class="title text-start">
            <h4>企业简介<span class="fs-6 text-muted">ABOUT US</span></h4>
        </div>
        <div class="row g-2 g-md-5">
            <div class="col-12 col-md-6">
                <div class="part-about-desc">
                    <p>
                        田者高拍是集设计、研发、制造、销售为一体的高拍仪产品、触控一体机、图像视觉技术产品及数字化办公解决方案提供商，具有自主品牌、自主团队、知识产权和国家专利，用心服务，永不止步，为提高窗口办公及用户的办公效率和便捷性，创造最大的价值。
                    </p>
                    <p>
                        公司以研发为起点，市场为导向，拥有独立研发中心实验室和标准化生产制造基地；从成立至今，不断向市场推出自主研发的新技术、新产品；同时，公司还与国内知名高校达成战略合作关系，就公司前沿的研发创新项目进行深入交流与合作。
                    </p>
                    <p>
                        公司现已形成高拍仪产品、触控一体机、图像视觉技术产品为主的三大产品线，在“诚信、创新、超越、共赢”的经营理念下，建立起了完善的销售和服务网络，凭借高效率、高品质、优质服务、差异化的优势，产品得到众多客户们的支持与信赖。
                    </p>
                    <p>
                        未来，田者高拍仍将不忘初心、砥砺前行，以技术为傲，推动智能硬件产品及数字化办公解决方案应用的时代潮流，成为你我身边的最佳办公拍档！
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="part-about-image">
                    <img class="img-fluid" alt="田者高拍" title="田者高拍" src="__STATIC__/static/images/aboutus.png"/>
                </div>
            </div>
        </div>
        <!--企业简介部分 End-->
        <!--经营准则部分 Start-->
        <div class="title text-start">
            <h4>经营准则<span class="fs-6 text-muted">CRITERION</span></h4>
        </div>
        <div class="row g-2 g-md-3">
            <div class="col-6 col-md-3">
                <div class="part-criterion-item">
                    <div class="rounded-circle overflow-hidden position-relative">
                        <img class="img-fluid" alt="诚信" title="立诚守信，言真行实" src="__STATIC__/static/images/sincerity.png"/>
                        <div class="part-cirterion-mask position-absolute">
                            <h3 class="fs-1">诚信</h3>
                            <h4>立诚守信，言真行实</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="part-criterion-item">
                    <div class="rounded-circle overflow-hidden position-relative">
                        <img class="img-fluid" alt="创新" title="颠覆惯性，制造标准" src="__STATIC__/static/images/innovate.png"/>
                        <div class="part-cirterion-mask position-absolute">
                            <h3 class="fs-1">创新</h3>
                            <h4>颠覆惯性，制造标准</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="part-criterion-item">
                    <div class="rounded-circle overflow-hidden position-relative">
                        <img class="img-fluid" alt="超越" title="同心进取，跨越目标" src="__STATIC__/static/images/transcend.png"/>
                        <div class="part-cirterion-mask position-absolute">
                            <h3 class="fs-1">超越</h3>
                            <h4>同心进取，跨越目标</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="part-criterion-item">
                    <div class="rounded-circle overflow-hidden position-relative">
                        <img class="img-fluid" alt="共赢" title="团结协作，互惠双赢" src="__STATIC__/static/images/allwin.png"/>
                        <div class="part-cirterion-mask position-absolute">
                            <h3 class="fs-1">共赢</h3>
                            <h4>团结协作，互惠双赢</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--经营准则部分 End-->
        <!--企业文化部分 Start-->
        <div class="title text-start">
            <h4>企业文化<span class="fs-6 text-muted">CULTURE</span></h4>
        </div>
        <div class="row g-3">
            <div class="col-12 col-md-4">
                <div class="part-culture-item">
                    <div class="part-culture-desc">
                        <span class="fs-5"><img class="img-fluid align-text-bottom" alt="企业使命" title="企业使命" src="__STATIC__/static/icon/shiming.png"/> 使命</span>
                        <p class="text-muted">推动智能硬件产品及数字化办公解决方案应用的时代潮流，成为你我身边的最佳办公拍档</p>
                    </div>
                    <div class="part-culture-image">
                        <img class="rounded img-fluid" alt="企业使命" title="推动智能硬件产品及数字化办公解决方案应用的时代潮流" src="__STATIC__/static/images/smart-office.png"/>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="part-culture-item">
                    <div class="part-culture-desc">
                        <span class="fs-5"><img class="img-fluid align-text-bottom" alt="企业愿景" title="企业愿景" src="__STATIC__/static/icon/yuanjing.png"/> 愿景</span>
                        <p class="text-muted">世界领先的高拍仪产品、触控一体机、图像视觉技术产品及办公数字化解决方案提供商</p>
                    </div>
                    <div class="part-culture-image">
                        <img class="rounded img-fluid" alt="企业使命" title="领先的高拍仪产品、触控一体机、图像视觉技术产品及办公数字化解决方案提供商" src="__STATIC__/static/images/corporate-vision.png"/>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="part-culture-item">
                    <div class="part-culture-desc">
                        <span class="fs-5"><img class="img-fluid align-text-bottom" alt="企业价值观" title="企业价值观" src="__STATIC__/static/icon/jiazhi.png"/> 价值观</span>
                        <p class="text-muted">用心   真心  恒心    创新   拼搏    团结</p>
                    </div>
                    <div class="part-culture-image">
                        <img class="rounded img-fluid" alt="企业使命" title="用心   真心  恒心    创新   拼搏    团结" src="__STATIC__/static/images/corporate-values.png"/>
                    </div>
                </div>
            </div>
        </div>
        <!--企业文化部分 End-->
        <!--联系我们部分 Start-->
        <div class="title text-start">
            <h4>联系我们<span class="fs-6 text-muted">CONTACT US</span></h4>
        </div>
        <div class="row g-2 g-md-3">
            <div class="col-12 col-md-4 part-contact-item">
                <p class="fs-5"><svg class="bi align-text-top" color="gray" width="24" height="24" fill="currentColor">
                    <use xlink:href="/static/icon/bootstrap-icons.svg#telephone-inbound-fill"></use>
                </svg>电话：400-901-1302</p>
            </div>
            <div class="col-12 col-md-4 part-contact-item">
                <p class="fs-5"><img alt="微信" title="微信" src="__STATIC__/static/icon/wechat.svg">微信：18607559781</p>
            </div>
            <div class="col-12 col-md-4 part-contact-item">
                <p class="fs-5"><svg class="bi align-text-top" width="24" height="24" fill="currentColor">
                    <use xlink:href="/static/icon/bootstrap-icons.svg#envelope"></use>
                </svg>邮箱：463297616@qq.com</p>
            </div>
            <div class="col-12">
                <div id="container" class="rounded overflow-hidden"></div>
            </div>
        </div>
        <!--联系我们部分 End-->
    </div>
</section>
<!--企业介绍部分 End-->
{/block}
{block name="formModal"}{include file="../basic/formModal"}{/block}
{block name="customjs"}
<!--高德地图部分 Start-->
<script type="text/javascript">
    // 固定导航栏
    $(function() { // FIXME:和首页导航栏冲突
        const navbar = $('.navbar')
        navbar.addClass('bg-primary')
        navbar.removeClass('fixed-top')
    })
    // 定义公司坐标
    const position = [113.927961, 22.674599]
    // 信息窗口内容
    const mapContent = "" +
        "<h6 class='company'>田者高拍 - 高拍仪产品及数字化办公解决方案提供商</h6>" +
        "<p class='border-bottom border-dark'></p>" +
        "<p>营业时间：9:00~22:00</p>" +
        "<p>联系电话：400-901-1302</p>" +
        "<p>地址：深圳市宝安区石岩街道浪心社区工业区厂房A1栋</p>"
    // 获取高德地图key
    window._AMapSecurityConfig = {
        serviceHost: 'https://amap.brandsz.cn/_AMapService',
    }
    // 初始化高德地图
    AMapLoader.load({
        version: '2.0',
        key: 'ecc65cc16a53d32c539201aef73c1346',
        plugins: ['AMap.Scale', 'AMap.MapType', 'AMap.ToolBar']
    }).then((AMap) => {
        const map = new AMap.Map('container', {
            zoom: 17, // 地图级别
            center: position, // 地图坐标
            resizeEnable: true
        })
        const marker = new AMap.Marker({
            position: position
        })
        // 监听点击事件
        marker.on('click', function () {
            infoCard.open(map, position);
        })
        // 实例化信息窗口
        infoCard = new AMap.InfoWindow({
            avoid: [100], // 边距
            content: mapContent, // 内容
            offset: new AMap.Pixel(0, -40)
        })
        // 打开信息窗口
        infoCard.open(map, position)
        // 图层切换控件
        map.addControl(new AMap.MapType())
        // 地图缩放控件
        map.addControl(new AMap.ToolBar())
        // 地图比例尺控件
        map.addControl(new AMap.Scale())
        // 渲染高德地图
        map.add(marker)
    }).catch((e) => {
        console.error(e)
    })
</script>
<!--高德地图部分 End-->
{/block}