{extend name="../base" /}
{block name="title"}<title>{$channelinfo.title}</title>{/block}
{block name="keywords"}<meta name="keywords" content="{$channelinfo.keywords}">{/block}
{block name="description"}<meta name="description" content="{$channelinfo.description}">{/block}
{block name="pagejs"}{__block__}{/block}
{block name="main"}
<!--生产制造部分 Start-->
<section>
    <div class="container">
        <div class="title text-start">
            <h2>生产制造<span class="fs-6 text-muted">PRODUCE</span></h2>
        </div>
        <div class="row g-2 g-md-3">
            <div class="col-12 col-md-6">
                <div class="part-produce-desc">
                    <p>自生产入料到出货, 每一道工作程序都基于一个严谨的品质管控流程，所有的流程均于品质系统保证下,以达到顾客满意。目前我们的生产质量体系符合国际标准ISO 9001：2015及CCC认证。为管制生产过程和品质，我们设置许多系统以预防人为疏失, 如中央作业标准书管理系统, 制程管理系统,品质自动警示系统, 教育训练系统,设备参数管制系统, 矫正与预防措施系统,所有作业人员均有纪律地在相关管理系统下作业, 以确保一致性之品质。</p>
                    <p>为维护生态环境，我们只生产符合RoHS和REACH标准规范的产品，对于产品所使用的物料我们均严加管控并避免产品使用到有害物质进而伤害到环境。此外我们的内部QA会经常更新质量控制标准，并保持与国际标准一致，以满足消费者的需求。</p>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="part-produce-album">
                    <div class="rounded overflow-hidden position-relative part-produce-big">
                        <img class="img-fluid part-produce-bigimg" alt="仓库实拍" title="仓库实拍" src="__STATIC__/static/images/produce-1.png"/>
                        <button class="prenext ctl-prev" type="button" data-slide="ctprev">
                            <span class="ctl-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="prenext ctl-next" type="button" data-slide="ctnext">
                            <span class="ctl-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <div class="part-produce-small">
                        <ul class="d-flex flex-row align-items-center">
                            <li class="border border-danger part-produce-item">
                                <img class="img-fluid" alt="仓库实拍" title="仓库实拍" src="__STATIC__/static/images/produce-1-1.png" data-origin="__STATIC__/static/images/produce-1.png"/>
                            </li>
                            <li class="border part-produce-item">
                                <img class="img-fluid" alt="仓库实拍" title="仓库实拍" src="__STATIC__/static/images/produce-2-1.png" data-origin="__STATIC__/static/images/produce-2.png"/>
                            </li>
                            <li class="border part-produce-item">
                                <img class="img-fluid" alt="仓库实拍" title="仓库实拍" src="__STATIC__/static/images/produce-3-1.png" data-origin="__STATIC__/static/images/produce-3.png"/>
                            </li>
                            <li class="border part-produce-item">
                                <img class="img-fluid" alt="仓库实拍" title="仓库实拍" src="__STATIC__/static/images/produce-4-1.png" data-origin="__STATIC__/static/images/produce-4.png"/>
                            </li>
                            <li class="border part-produce-item">
                                <img class="img-fluid" alt="仓库实拍" title="仓库实拍" src="__STATIC__/static/images/produce-5-1.png" data-origin="__STATIC__/static/images/produce-5.png"/>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--生产制造部分 End-->
{/block}
{block name="formModal"}{include file="../basic/formModal"}{/block}
{block name="customjs"}
<script>
    // 固定导航栏
    // FIXME:和首页导航栏冲突
    $(function() {
        const navbar = $('.navbar')
        navbar.addClass('bg-primary')
        navbar.removeClass('fixed-top')
    })
</script>
{/block}