{extend name="../base" /}
{block name="title"}<title>{$info.title}</title>{/block}
{block name="keywords"}<meta name="keywords" content="{$info.keywords}">{/block}
{block name="description"}<meta name="description" content="{$info.description}">{/block}
{block name="pagejs"}{__block__}{/block}
{block name="main"}
<div class="inban maxwidth uk-visible@m" style="background-image: url(/static/img/ban_1.png);">
</div>
<div class="mban uk-position-relative uk-hidden@m">
    <img src="/static/img/mban_1.png" alt="电池检测">
</div>
{include file="../basic/crumbs,../basic/testing_left_select" /}
<div class="uk-container">
    <div class="tBody product">
        <div class="uk-grid">
            {include file="../basic/testing_left_nav" /}
            <!---->
            <div class="uk-width-expand">
                <div class="uk-width-expand">
                    <div class="productdetail uk-margin-large-bottom uk-scrollspy-inview uk-animation-slide-bottom-small" uk-scrollspy="cls: uk-animation-slide-bottom-small; repeat: false; delay:0" style="">
                        <h1 class="protit f30 fb uk-text-center text-green">{$info.title}</h1>
                        {$info.content.content|raw}
                    </div>
                    <div class="cother f14 uk-visible@m uk-scrollspy-inview uk-animation-slide-bottom-small" uk-scrollspy="cls: uk-animation-slide-bottom-small; repeat: false; delay:0" style="">
                        <ul class="uk-grid uk-grid-collapse uk-child-width-1-2@s">
{present name="$prenext.pre.id"}
                            <li><span class="text-blue">上一篇</span> <a href="{:url(pathToDeatil($prenext.pre.fullpath), ['dirname' => $prenext.pre.dirname ?? '', 'id' => $prenext.pre.id])}" title="{$prenext.pre.title}">{$prenext.pre.title}</a></li>
{else /}
                            <li><span class="text-blue">上一篇</span> <a href="javascript:">{$prenext.pre.title}</a></li>
{/present}
{present name="$prenext.next.id"}
                            <li><span class="text-blue">下一篇</span> <a href="{:url(pathToDeatil($prenext.next.fullpath), ['dirname' => $prenext.next.dirname ?? '', 'id' => $prenext.next.id])}" title="{$prenext.next.title}">{$prenext.next.title}</a></li>
{else /}
                            <li><span class="text-blue">下一篇</span> <a href="javascript:">{$prenext.next.title}</a></li>
{/present}
                        </ul>
                    </div>
{include file="../basic/submit_form" /}
                    <div class="retelation">
                        <div class="tit f24 fb text-black"><span class="text-blue">相关</span>推荐</div>
                        <div class="relalist">
                            <div class="uk-grid-small uk-child-width-1-4@m uk-child-width-1-2 uk-grid" uk-grid="" uk-scrollspy="target:>div; cls: uk-animation-slide-bottom-small; repeat: false; delay:50">

                                <div class="uk-first-column uk-scrollspy-inview uk-animation-slide-bottom-small" style="">
                                    <div class="uk-wrap uk-position-relative">
                                        <a href="/testing_22/cdcs.html" class="uk-position-cover uk-position-z-index"></a>
                                        <img src="/static/upload/images/2022-08-04/w265_h190_1640853027213902.jpg" alt="放电测试">
                                        <div class="name max-line-1">放电测试</div>
                                    </div>
                                </div>

                                <div style="" class="uk-scrollspy-inview uk-animation-slide-bottom-small">
                                    <div class="uk-wrap uk-position-relative">
                                        <a href="/testing_22/40.html" class="uk-position-cover uk-position-z-index"></a>
                                        <img src="/static/upload/images/2022-08-04/w265_h190_1640853620180404.jpg" alt="振动测试">
                                        <div class="name max-line-1">振动测试</div>
                                    </div>
                                </div>

                                <div style="" class="uk-scrollspy-inview uk-animation-slide-bottom-small">
                                    <div class="uk-wrap uk-position-relative">
                                        <a href="/testing_22/41.html" class="uk-position-cover uk-position-z-index"></a>
                                        <img src="/static/upload/images/2022-08-04/w265_h190_1640930970313025.png" alt="加速度冲击碰撞">
                                        <div class="name max-line-1">加速度冲击碰撞</div>
                                    </div>
                                </div>

                                <div style="" class="uk-scrollspy-inview uk-animation-slide-bottom-small">
                                    <div class="uk-wrap uk-position-relative">
                                        <a href="/testing_22/42.html" class="uk-position-cover uk-position-z-index"></a>
                                        <img src="/static/upload/images/2022-08-04/w265_h190_1640855466154649.jpg" alt="自由跌落试验">
                                        <div class="name max-line-1">自由跌落试验</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="footer"}{/block}
