{extend name="../base" /}
{block name="title"}<title>电池检测_BIS认证_CE_TISI_MSDS_BSMI_可靠性测试-立讯检测</title>{/block}
{block name="keywords"}<meta name="keywords" content="锂电池检测，UN38.3认证，UL认证，CB认证，KC认证，CQC认证，电池测试，电池检测，BIS认证，CE，TISI，MSDS，BSMI，可靠性测试">{/block}
{block name="description"}<meta name="description" content="电池检测,可靠性测试,BIS认证,立讯检测">{/block}
{block name="pagejs"}{__block__}{/block}
{block name="main"}
<div class="inban maxwidth uk-visible@m" style="background-image: url(/static/img/ban_1.png);">
</div>
<div class="mban uk-position-relative uk-hidden@m">
    <img src="/static/img/mban_1.png" alt="电池检测">
</div>
{include file="../basic/crumbs,../basic/testing_left_select" /}
<div class="uk-container">
    <div class="tBody product">
        <div class="uk-grid">
{include file="../basic/testing_left_nav" /}
            <div class="uk-width-expand">
                <div class="caselist">
                    <ul class="uk-grid uk-grid-match uk-child-width-1-3@m uk-child-width-1-2" uk-grid uk-scrollspy="target: > li; cls: uk-animation-slide-bottom-medium; repeat: false; delay:100">
{volist name="list" id="item" empty="There's nothing here..."}
                        <li>
                            <div class="wrap uk-position-relative uk-transition-toggle">
                                <a href="{:url(pathToDeatil($item.channel.fullpath), ['dirname' => $item.channel.dirname ?? '', 'id' => $item.id])}" class="uk-position-cover uk-position-z-index"></a>
                                <div class="pic">
                                    <img src="{$item.litpic}" alt="{$item.title}" class="uk-transition-scale-up uk-transition-opaque">
                                </div>
                                <div class="con">
                                    <div class="tit f18 fs100 text-black max-line-1 uk-text-center">{$item.title}</div>
                                </div>
                            </div>
                        </li>
{/volist}
                    </ul>
                </div>
                <!-- 分页 -->
                <nav class="uk-pagination pages f14 uk-flex uk-flex-right uk-flex-middle">
                    <a class="page-item page-link" href="/testing_1/">首页</a>
                    <a class="page-item page-link" href="javascript:;"><span uk-icon="chevron-double-left"></span></a>
                    <a href="/testing_1/" class="page-num page-num-current">1</a>
                    <!-- 数字条，小屏幕时自动隐藏-->
                    <a class="page-item page-link" href="javascript:;"><span uk-icon="chevron-double-right"></span></a>
                    <a class="page-item page-link" href="/testing_1/">尾页</a>
                </nav>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="footer"}{/block}
