{extend name="../base" /}
{block name="title"}<title>{$channelinfo.title}</title>{/block}
{block name="keywords"}<meta name="keywords" content="{$channelinfo.keywords}">{/block}
{block name="description"}<meta name="description" content="{$channelinfo.description}">{/block}
{block name="pagejs"}{__block__}{/block}
{block name="main"}
<!--案例列表部分 Start-->
<section>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="flex-nowrap breadcrumb">
                <li class="breadcrumb-item"><a href="/">首页</a></li>
                <li class="breadcrumb-item"><a href="/case/">成功案例</a></li>
            </ol>
        </nav>
        <div class="part-case-list">
            <div class="row g-2 g-md-3">
                <div class="col-6 col-md-4">
                    <div class="card ani-transform part-case-item">
                        <img alt="贵州纪委高拍仪应用场景" class="card-img-top" src="__STATIC__/static/images/finance-1.png">
                        <div class="card-body">
                            <h5 class="card-title text-clamp-ellipsis text-clamp-2">最优质的产品品质与服务
                                <br/>——田者高拍&国内某证券公司合作案例</h5>
                            <p class="text-muted text-clamp-ellipsis text-clamp-3">针对国内某证券公司的业务系统，田者高拍为其定制了三摄像头+双录+证件识别的高拍仪，样机前后现场调试了十多次，凭借田者高拍技术人员专业而耐心的指导</p>
                            <div class="gap-2 col-12 d-grid mx-auto col-md-6">
                                <a href="2.html" type="botton" class="btn btn-outline-danger">查看详情</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="card ani-transform part-case-item">
                        <img alt="贵州纪委高拍仪应用场景" class="card-img-top" src="__STATIC__/static/images/wuye.png">
                        <div class="card-body">
                            <h5 class="card-title text-clamp-ellipsis text-clamp-2">满足最挑剔的要求
                                <br/>——田者高拍&福建某物业公司合作案例</h5>
                            <p class="text-muted text-clamp-ellipsis text-clamp-3">田者高拍起初为福建某物业公司的业务系统，量身匹配了行业高拍仪供其使用，物业公司前后大半年时间，只购买了1台高拍仪，但物业公司却对我们提出了无数不合理要求</p>
                            <div class="gap-2 col-12 d-grid mx-auto col-md-6">
                                <a href="3.html" type="botton" class="btn btn-outline-danger">查看详情</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="card ani-transform part-case-item">
                        <img alt="贵州纪委高拍仪应用场景" class="card-img-top" src="__STATIC__/static/images/runjian.png">
                        <div class="card-body">
                            <h5 class="card-title text-clamp-ellipsis text-clamp-2">最佳硬件拍档
                                <br/>——田者高拍&国内某大型软件上市公司案例</h5>
                            <p class="text-muted text-clamp-ellipsis text-clamp-3">国内某大型软件上市公司，对高拍仪硬件产品要求高，供货反应迅速，同时对供货条件要求非常苛刻，田者高拍满足其要求，在非常短的时间内，为其提供了签批一体高拍仪产品解决方案</p>
                            <div class="gap-2 col-12 d-grid mx-auto col-md-6">
                                <a href="4.html" type="botton" class="btn btn-outline-danger">查看详情</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="card ani-transform part-case-item">
                        <img alt="贵州纪委高拍仪应用场景" class="card-img-top" src="__STATIC__/static/images/finance-1.png">
                        <div class="card-body">
                            <h5 class="card-title text-clamp-ellipsis text-clamp-2">最优质的产品品质与服务
                                <br/>——田者高拍&国内某证券公司合作案例</h5>
                            <p class="text-muted text-clamp-ellipsis text-clamp-3">针对国内某证券公司的业务系统，田者高拍为其定制了三摄像头+双录+证件识别的高拍仪，样机前后现场调试了十多次，凭借田者高拍技术人员专业而耐心的指导</p>
                            <div class="gap-2 col-12 d-grid mx-auto col-md-6">
                                <a href="2.html" type="botton" class="btn btn-outline-danger">查看详情</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="card ani-transform part-case-item">
                        <img alt="贵州纪委高拍仪应用场景" class="card-img-top" src="__STATIC__/static/images/wuye.png">
                        <div class="card-body">
                            <h5 class="card-title text-clamp-ellipsis text-clamp-2">满足最挑剔的要求
                                <br/>——田者高拍&福建某物业公司合作案例</h5>
                            <p class="text-muted text-clamp-ellipsis text-clamp-3">田者高拍起初为福建某物业公司的业务系统，量身匹配了行业高拍仪供其使用，物业公司前后大半年时间，只购买了1台高拍仪，但物业公司却对我们提出了无数不合理要求</p>
                            <div class="gap-2 col-12 d-grid mx-auto col-md-6">
                                <a href="3.html" type="botton" class="btn btn-outline-danger">查看详情</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="card ani-transform part-case-item">
                        <img alt="贵州纪委高拍仪应用场景" class="card-img-top" src="__STATIC__/static/images/runjian.png">
                        <div class="card-body">
                            <h5 class="card-title text-clamp-ellipsis text-clamp-2">最佳硬件拍档
                                <br/>——田者高拍&国内某大型软件上市公司案例</h5>
                            <p class="text-muted text-clamp-ellipsis text-clamp-3">国内某大型软件上市公司，对高拍仪硬件产品要求高，供货反应迅速，同时对供货条件要求非常苛刻，田者高拍满足其要求，在非常短的时间内，为其提供了签批一体高拍仪产品解决方案</p>
                            <div class="gap-2 col-12 d-grid mx-auto col-md-6">
                                <a href="4.html" type="botton" class="btn btn-outline-danger">查看详情</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">6</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</section>
<!--案例列表部分 End-->
{/block}
{block name="customjs"}
<script>
    // 固定导航栏
    // FIXME:和首页导航栏冲突
    $(function() {
        const navbar = $('.navbar')
        navbar.addClass('bg-primary')
        navbar.removeClass('fixed-top')
    })
</script>
{/block}