{extend name="../base" /}
{block name="title"}<title>{$Think.config.index.title}</title>{/block}
{block name="keywords"}<meta name="keywords" content="{$Think.config.index.keywords}">{/block}
{block name="description"}<meta name="description" content="{$Think.config.index.description}">{/block}
{block name="pagejs"}{__block__}{/block}
{block name="main"}
<!--幻灯片部分 Start-->
<section>
    <div id="carouselExampleCaptions" class="slide carousel" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active"></div>
            <div class="carousel-item"></div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
<!--幻灯片部分 End-->
<!--产品中心部分 Start-->
<section>
    <div class="container part-product">
        <div class="title">
            <h2>产品中心</h2>
            <p class="text-muted">PRODUCT CENTER</p>
        </div>
        <div class="row g-2 g-md-3">
            <div class="col-custom-2">
                <div class="border rounded overflow-hidden ani-transform part-product-recommend">
                    <a href="product/1.html" target="_blank" title="S80双摄像头1500万像素高拍仪">
                        <img alt="S80双摄像头1500万像素高拍仪" class="img-fluid" src="__STATIC__/static/images/20220113175156.png">
                    </a>
                </div>
            </div>
            <div class="col-custom-5">
                <div class="border rounded ani-transform part-product-item">
                    <a href="product/2.html" target="_blank" class="text-reset text-decoration-none" title="K21智能书籍高拍仪">
                        <img alt="K21智能书籍高拍仪" class="img-fluid" src="__STATIC__/images/product/2/p-1.png">
                        <div class="part-product-item-desc">
                            <p class="fs-6 text-center text-ellipsis">K21智能书籍高拍仪</p>
                            <p class="text-muted text-start text-ellipsis">2300万高清像素CMOS传感器，支持最大A3画幅的书籍扫描，1.5S/双页，无须拆书直接扫描</p>
                            <div class="d-flex flex-wrap part-product-item-attr">
                                <span>2300万像素</span>
                                <span>自动翻页检测</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-custom-5">
                <div class="border rounded ani-transform part-product-item">
                    <a href="product/3.html" target="_blank" class="text-reset text-decoration-none" title="DM20签批一体高拍仪">
                        <img alt="DM20签批一体高拍仪" class="img-fluid" src="__STATIC__/images/product/3/p-3.png">
                        <div class="part-product-item-desc">
                            <p class="fs-6 text-center text-ellipsis">DM20签批一体高拍仪</p>
                            <p class="text-muted text-start text-ellipsis">集电磁手写、电容触控、身份验证、指纹采集、签批录像、客户评价、广告播放、数据加密等功能为一体的高拍仪</p>
                            <div class="d-flex flex-wrap part-product-item-attr">
                                <span>签批一体</span>
                                <span>人证比对</span>
                                <span>指纹采集</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-custom-5">
                <div class="border rounded ani-transform part-product-item">
                    <a href="product/4.html" target="_blank" class="text-reset text-decoration-none" title="M60 1000万像素高拍仪">
                        <img alt="M60 1000万像素高拍仪" class="img-fluid" src="__STATIC__/images/product/4/p-4.png">
                        <div class="part-product-item-desc">
                            <p class="fs-6 text-center text-ellipsis">M60多功能高拍仪</p>
                            <p class="text-muted text-start text-ellipsis">全新产品外观结构设计、集成八合一（3个摄像头、二代证读卡器、指纹采集仪、磁条读卡器、第码二维码识别、接触式/非接触式IC卡阅读器）</p>
                            <div class="d-flex flex-wrap part-product-item-attr">
                                <span>OCR识别</span>
                                <span>高速扫描</span>
                                <span>1000万像素</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-custom-5">
                <div class="border rounded ani-transform part-product-item">
                    <a href="product/5.html" target="_blank" class="text-reset text-decoration-none" title="D60双摄3600万像素高拍仪">
                        <img alt="D60双摄3600万像素高拍仪" class="img-fluid" src="__STATIC__/images/product/5/d60.png">
                        <div class="part-product-item-desc">
                            <p class="fs-6 text-center text-ellipsis">D60双摄3600万像素高拍仪</p>
                            <p class="text-muted text-start text-ellipsis">双1800万像素高清镜头，满足客户高像素高分辨率的要求</p>
                            <div class="d-flex flex-wrap part-product-item-attr">
                                <span>高清双摄</span>
                                <span>自动连拍</span>
                                <span>3600万像素</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-custom-5">
                <div class="border rounded ani-transform part-product-item">
                    <a href="product/6.html" target="_blank" class="text-reset text-decoration-none" title="V80多功能教学高拍仪">
                        <img alt="V80多功能教学高拍仪" class="img-fluid" src="__STATIC__/images/product/6/v80.png">
                        <div class="part-product-item-desc">
                            <p class="fs-6 text-center text-ellipsis">V80多功能教学高拍仪</p>
                            <p class="text-muted text-start text-ellipsis">首创证件扫描模模式，折叠伸缩便模式，支持1800万高清像素以及OCR文本智能识别</p>
                            <div class="d-flex flex-wrap part-product-item-attr">
                                <span>视频展台</span>
                                <span>自动对焦</span>
                                <span>远程教学</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-custom-5">
                <div class="border rounded ani-transform part-product-item">
                    <a href="product/7.html" target="_blank" class="text-reset text-decoration-none" title="75寸多功能触控一体机">
                        <img alt="75寸多功能触控一体机" class="img-fluid" src="__STATIC__/images/product/7/u75.png">
                        <div class="part-product-item-desc">
                            <p class="fs-6 text-center text-ellipsis">75寸4K多功能触控一体机</p>
                            <p class="text-muted text-start text-ellipsis">75寸4k高清触控一体机办公触控防眩光同屏互传摄像头内置麦 I3模块（内置摄像头和麦克风）</p>
                            <div class="d-flex flex-wrap part-product-item-attr">
                                <span>4K分辨率</span>
                                <span>20点触控</span>
                                <span>无线投屏</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-custom-5">
                <div class="border rounded ani-transform part-product-item">
                    <a href="product/8.html" target="_blank" class="text-reset text-decoration-none" title="D20 1000万像素高拍仪">
                        <img alt="D20 1000万像素高拍仪" class="img-fluid" src="__STATIC__/images/product/8/d20.png">
                        <div class="part-product-item-desc">
                            <p class="fs-6 text-center text-ellipsis">D20 1000万像素高拍仪</p>
                            <p class="text-muted text-start text-ellipsis">录制视频、实时投影，开户新型投影方式，适合线上会议、远程办公、网课教学等场景</p>
                            <div class="d-flex flex-wrap part-product-item-attr">
                                <span>A4画幅</span>
                                <span>1800万像素</span>
                                <span>OCR文字识别</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-custom-5">
                <div class="border rounded ani-transform part-product-item">
                    <a href="product/9.html" target="_blank" class="text-reset text-decoration-none" title="IDR200二代身份证阅读器">
                        <img alt="IDR200二代身份证阅读器" class="img-fluid" src="__STATIC__/images/product/9/idr200.png">
                        <div class="part-product-item-desc">
                            <p class="fs-6 text-center text-ellipsis">IDR200二代身份证阅读器</p>
                            <p class="text-muted text-start text-ellipsis">支持所有基于公安部身份证读卡标准接口的软件系统</p>
                            <div class="d-flex flex-wrap part-product-item-attr">
                                <span>兼容性广</span>
                                <span>秒级读取</span>
                                <span>蓝牙/USB</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="more">
            <a role="button" target="_blank" href="product/" class="btn btn-danger rounded-pill">查看更多</a>
        </div>
    </div>
</section>
<!--产品中心部分 End-->
<!--行业应用部分 Start-->
<section class="bg-light part-application">
    <div class="container">
        <div class="title text-white">
            <h2>行业应用</h2>
            <p class="text-muted">APPLICATION</p>
        </div>
        <div class="row g-2 g-md-3">
            <div class="col-12 col-md-6 exclude">
                <div class="row g-2 g-md-3">
                    <div class="col-12 exclude part-application-item">
                        <div class="rounded overflow-hidden position-relative">
                            <img alt="政务服务" title="政务服务" class="img-fluid part-application-img" src="__STATIC__/static/images/government-services.png"/>
                            <div class="d-flex flex-column position-absolute justify-content-center align-items-center part-application-detail">
                                <img alt="政务服务" title="政务服务" src="__STATIC__/static/icon/government.png"/>
                                <h3>政务服务</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 exclude part-application-item">
                        <div class="rounded overflow-hidden position-relative">
                            <img alt="消费金融" title="消费金融" class="img-fluid part-application-img" src="__STATIC__/static/images/finance.png"/>
                            <div class="d-flex flex-column position-absolute justify-content-center align-items-center part-application-detail">
                                <img alt="消费金融" title="消费金融" src="__STATIC__/static/icon/finance.png"/>
                                <h3>消费金融</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 exclude part-application-item">
                        <div class="rounded overflow-hidden position-relative">
                            <img alt="电信行业" title="电信行业" class="img-fluid part-application-img" src="__STATIC__/static/images/telecom.png"/>
                            <div class="d-flex flex-column position-absolute justify-content-center align-items-center part-application-detail">
                                <img alt="电信行业" title="电信行业" src="__STATIC__/static/icon/telecom.png"/>
                                <h3>电信行业</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 exclude">
                <div class="row g-2 g-md-3">
                    <div class="col-6 exclude part-application-item">
                        <div class="rounded overflow-hidden position-relative">
                            <img alt="教育机构" title="教育机构" class="img-fluid part-application-img" src="__STATIC__/static/images/educate.png"/>
                            <div class="d-flex flex-column position-absolute justify-content-center align-items-center part-application-detail">
                                <img alt="教育机构" title="教育机构" src="__STATIC__/static/icon/educate.png"/>
                                <h3>教育机构</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 exclude part-application-item">
                        <div class="rounded overflow-hidden position-relative">
                            <img alt="医疗机构" title="医疗机构" class="img-fluid part-application-img" src="__STATIC__/static/images/medical.png"/>
                            <div class="d-flex flex-column position-absolute justify-content-center align-items-center part-application-detail">
                                <img alt="医疗机构" title="医疗机构" src="__STATIC__/static/icon/medical.png"/>
                                <h3>医疗机构</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 exclude part-application-item">
                        <div class="rounded overflow-hidden position-relative">
                            <img alt="企业办公" title="企业办公" class="img-fluid part-application-img" src="__STATIC__/static/images/office.png"/>
                            <div class="d-flex flex-column position-absolute justify-content-center align-items-center part-application-detail">
                                <img alt="企业办公" title="企业办公" src="__STATIC__/static/icon/office.png"/>
                                <h3>企业办公</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--行业应用部分 End-->
<!--成功案例部分 Start-->
<section>
    <div class="container part-case">
        <div class="title">
            <h2>成功案例</h2>
            <p class="text-muted">用心服务，永不止步</p>
        </div>
        <div class="row g-2 g-md-3">
            <div class="col-12">
                <div class="row g-2 g-md-3">
                    <div class="col-md-6 exclude">
                        <img class="img-fluid" alt="人证比对高拍仪" title="使命必达 - 田者高拍&贵州省纪委合作案例" src="__STATIC__/static/images/guizhoujiwei-1.png"/>
                    </div>
                    <div class="col-md-6">
                        <div class="d-flex flex-column part-case-top justify-content-center">
                            <h4 class="text-center">使命必达——田者高拍&贵州省纪委合作案例</h4>
                            <p class="text-muted text-clamp-ellipsis text-clamp-3">贵州省纪委某日下了一批集成指纹仪+人证比对的高拍仪订单后，要求高拍仪第二天必须安装到位，设备安装的地市相对偏远，航空件第二天也到不了，为了贵州省纪委项目能有最快速的服务体验，田者高拍指派了专门的司机和技术人员，满载高拍仪，当天连续驾车奔袭一千多公里</p>
                            <div class="gap-2 col-6 d-grid mx-auto">
                                <a href="case/1.html" type="botton" class="btn btn-outline-danger">查看详情</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="card ani-transform part-case-item">
                    <img alt="贵州纪委高拍仪应用场景" class="card-img-top" src="__STATIC__/static/images/finance-1.png">
                    <div class="card-body">
                        <h5 class="card-title text-clamp-ellipsis text-clamp-2">最优质的产品品质与服务
                            <br/>——田者高拍&国内某证券公司合作案例</h5>
                        <p class="text-muted text-clamp-ellipsis text-clamp-3">针对国内某证券公司的业务系统，田者高拍为其定制了三摄像头+双录+证件识别的高拍仪，样机前后现场调试了十多次，凭借田者高拍技术人员专业而耐心的指导</p>
                        <div class="gap-2 col-12 d-grid mx-auto col-md-6">
                            <a href="case/2.html" type="botton" class="btn btn-outline-danger">查看详情</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="card ani-transform part-case-item">
                    <img alt="贵州纪委高拍仪应用场景" class="card-img-top" src="__STATIC__/static/images/wuye.png">
                    <div class="card-body">
                        <h5 class="card-title text-clamp-ellipsis text-clamp-2">满足最挑剔的要求
                            <br/>——田者高拍&福建某物业公司合作案例</h5>
                        <p class="text-muted text-clamp-ellipsis text-clamp-3">田者高拍起初为福建某物业公司的业务系统，量身匹配了行业高拍仪供其使用，物业公司前后大半年时间，只购买了1台高拍仪，但物业公司却对我们提出了无数不合理要求</p>
                        <div class="gap-2 col-12 d-grid mx-auto col-md-6">
                            <a href="case/3.html" type="botton" class="btn btn-outline-danger">查看详情</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="card ani-transform part-case-item">
                    <img alt="贵州纪委高拍仪应用场景" class="card-img-top" src="__STATIC__/static/images/runjian.png">
                    <div class="card-body">
                        <h5 class="card-title text-clamp-ellipsis text-clamp-2">最佳硬件拍档
                            <br/>——田者高拍&国内某大型软件上市公司案例</h5>
                        <p class="text-muted text-clamp-ellipsis text-clamp-3">国内某大型软件上市公司，对高拍仪硬件产品要求高，供货反应迅速，同时对供货条件要求非常苛刻，田者高拍满足其要求，在非常短的时间内，为其提供了签批一体高拍仪产品解决方案</p>
                        <div class="gap-2 col-12 d-grid mx-auto col-md-6">
                            <a href="case/4.html" type="botton" class="btn btn-outline-danger">查看详情</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="more">
            <a role="button" target="_blank" href="case/" class="btn btn-danger rounded-pill">查看更多</a>
        </div>
    </div>
</section>
<!--成功案例部分 End-->
<!--我们的优势 Start-->
<section class="bg-light part-advantage">
    <div class="container">
        <div class="title">
            <h2>我们的优势</h2>
            <p class="text-muted">OUR ADVANTAGE</p>
        </div>
        <div class="row g-5 g-md-3">
            <div class="col-12 col-md-6">
                <div class="row g-5">
                    <div class="col-12">
                        <div class="d-flex align-items-center part-advantage-item justify-content-between">
                            <img class="img-fluid" alt="研发团队" title="研发团队" src="__STATIC__/static/icon/team.png"/>
                            <div class="part-advantage-desc">
                                <h5>优秀专业的研发团队</h5>
                                <p class="text-muted text-clamp-3 text-clamp-ellipsis">推行工程师文化，立足于技术，拥有优秀的研发团队和方案专家，不断向市场推出自主研发的新技术、新产品，并与国内知名高校达成战略合作关系，就公司前沿的研发创新项目进行深入交流与合作</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex align-items-center part-advantage-item justify-content-between">
                            <img class="img-fluid" alt="研发团队" title="研发团队" src="__STATIC__/static/icon/quality.png"/>
                            <div class="part-advantage-desc">
                                <h5>高效率、差异化</h5>
                                <p class="text-muted text-clamp-3 text-clamp-ellipsis">专注于高拍仪产品、触控一体机、图像视觉技术产品及数字化办公系统，秉持“诚信、创新、超越、共赢”经营理念，针对不同市场客户需求，提供差异化的最佳产品与解决方案</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex align-items-center part-advantage-item justify-content-between">
                            <img class="img-fluid" alt="研发团队" title="研发团队" src="__STATIC__/static/icon/services.png"/>
                            <div class="part-advantage-desc">
                                <h5>可靠的品质及完善的服务体系</h5>
                                <p class="text-muted text-clamp-3 text-clamp-ellipsis">实行“丰田”式精益生产制造及品控体系，并取得多项质量管理体系认证，拥有完善的售前、售后服务体系，以最快的响应速度，为用户创造最大的价值</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="part-advantage-about">
                    <img class="rounded img-fluid" alt="关于我们" title="关于我们" src="__STATIC__/static/images/aboutus.png"/>
                    <div>
                        <p>田者高拍是集设计、研发、制造、销售为一体的高拍仪产品、触控一体机、图像视觉技术产品及数字化办公解决方案提供商，具有自主品牌、自主团队、知识产权和国家专利，用心服务，永不止步，为提高窗口办公及用户的办公效率和便捷性，创造最大的价值...</p>
                        <small><a href="about/index.html" title="查看详情" class="text-decoration-none">查看详情></a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--我们的优势 End-->
<!--合作伙伴部分 Start-->
<section>
    <div class="container">
        <div class="title">
            <h2>合作伙伴</h2>
            <p class="text-muted">ORU PARTNER</p>
        </div>
        <div class="row g-0">
            <div class="col-12 col-md-4">
                <div class="border ani-transform overflow-hidden part-partner-item">
                    <img class="img-fluid" alt="中国电信" title="中国电信" src="__STATIC__/static/partner/telecom.png"/>
                </div>
            </div>
            <div class="col-12 col-md-8">
                <div class="row g-0">
                    <div class="col-6 col-md-3">
                        <div class="border-top border-end border-bottom ani-transform part-partner-item">
                            <img class="img-fluid" alt="九远银行" title="九远银行" src="__STATIC__/static/partner/jiuyuan.png" />
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="border-top border-end border-bottom ani-transform part-partner-item">
                            <img class="img-fluid" alt="重庆大学" title="重庆大学" src="__STATIC__/static/partner/chongqing.png" />
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="border-top border-end border-bottom ani-transform part-partner-item">
                            <img class="img-fluid" alt="中国移动" title="中国移动" src="__STATIC__/static/partner/yidong.png" />
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="border-top border-end border-bottom ani-transform part-partner-item">
                            <img class="img-fluid" alt="长虹" title="长虹" src="__STATIC__/static/partner/changhong.png" />
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="border-end ani-transform part-partner-item">
                            <img class="img-fluid" alt="湖南政务" title="湖南政务" src="__STATIC__/static/partner/hunanzhenwu.png" />
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="border-end ani-transform part-partner-item">
                            <img class="img-fluid" alt="国家电网" title="国家电网" src="__STATIC__/static/partner/stategrid.png" />
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="border-end ani-transform part-partner-item">
                            <img class="img-fluid" alt="中国石化" title="中国石化" src="__STATIC__/static/partner/sinopec.png" />
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="border-end ani-transform part-partner-item">
                            <img class="img-fluid" alt="中国人寿" title="中国人寿" src="__STATIC__/static/partner/chinalife.png" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-2">
                <div class="border-end border-start border-bottom ani-transform part-partner-item">
                    <img class="img-fluid" alt="乐山商业银行" title="乐山商业银行" src="__STATIC__/static/partner/leshan.png" />
                </div>
            </div>
            <div class="col-6 col-md-2">
                <div class="border-end border-bottom ani-transform part-partner-item">
                    <img class="img-fluid" alt="江苏公安" title="江苏公安" src="__STATIC__/static/partner/jiansugongan.png" />
                </div>
            </div>
            <div class="col-6 col-md-2">
                <div class="border-end border-top border-bottom ani-transform part-partner-item">
                    <img class="img-fluid" alt="国家税务局" title="国家税务局" src="__STATIC__/static/partner/guojiashuiwu.png" />
                </div>
            </div>
            <div class="col-6 col-md-2">
                <div class="border-end border-top border-bottom ani-transform part-partner-item">
                    <img class="img-fluid" alt="中国邮政" title="中国邮政" src="__STATIC__/static/partner/ems.png" />
                </div>
            </div>
            <div class="col-6 col-md-2">
                <div class="border-end border-top border-bottom ani-transform part-partner-item">
                    <img class="img-fluid" alt="银河证券" title="银河证券" src="__STATIC__/static/partner/yihezhenquan.png" />
                </div>
            </div>
            <div class="col-6 col-md-2">
                <div class="d-flex border-end border-top border-bottom ani-transform part-partner-item justify-content-center align-items-center">
                    <span>···</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!--合作伙伴部分 End-->
<!--新闻资讯部分 Start-->
<section class="bg-light">
    <div class="container part-industry">
        <div class="title">
            <h2>新闻资讯</h2>
            <p class="text-muted">INDUSTRY NEWS</p>
        </div>
{present name="$hotart"}
        <div class="row g-3">
            <div class="col-12 col-md-4 part-industry-left">
{foreach $hotart as $item}
{compare name="item['is_head']" value="1" type="equal"}
                <div class="img-animated overflow-hidden border-bottom-dashed">
                    <a target="_blank" href="industry/{$item.id}.html" class="text-reset text-decoration-none" title="{$item.title}">
                        <div class="rounded overflow-hidden">
                            <img class="img-fluid" alt="{$item.title}" title="{$item.title}" src="{$item.litpic}"/>
                        </div>
                        <h3 class="transition text-ellipsis">{$item.title}</h3>
                        <p class="part-industry-detail"><span>发布时间：{$item.create_time|date="Y-m-d"} </span>| <span>阅读量：{$item.click} </span>| <span>作者：{$item.author}</span></p>
                        <p class="text-clamp-3 text-clamp-ellipsis">{$item.description}</p>
                    </a>
                </div>
{/compare}
{/foreach}
            </div>
            <div class="col-12 col-md-8">
                <ul class="row g-3 list-unstyled part-industry-right">
{foreach $hotart as $item}
{compare name="item['is_head']" value="1" type="notequal"}
                    <li class="col-12 col-md-6 part-industry-right-item">
                        <div class="overflow-hidden border-bottom-dashed">
                            <a target="_blank" href="industry/{$item.id}.html" class="text-reset text-decoration-none" title="{$item.title}">
                                <h3 class="transition text-ellipsis">{$item.title}</h3>
                                <p class="part-industry-detail"><span>发布时间：{$item.create_time|date="Y-m-d"} </span>| <span>阅读量：{$item.click} </span>| <span>作者：{$item.author}</span></p>
                                <p class="text-clamp-2 text-clamp-ellipsis">{$item.description}</p>
                            </a>
                        </div>
                    </li>
{/compare}
{/foreach}
                </ul>
            </div>
        </div>
{if count($hotart) >= 7}
        <div class="more">
            <a role="button" target="_blank" href="industry/" class="btn btn-danger rounded-pill">查看更多</a>
        </div>
{/if}
{else /}
        <p class="text-danger text-center">There is nothing</p>
{/present}
    </div>
</section>
<!--新闻资讯部分 End-->{/block}